body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 2100px;
}

h1 {
  color: rgb(232, 229, 229);
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
}

li {
  list-style: none;

  text-transform: capitalize;
  color: rgba(246, 243, 243, 0.772);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weatherwebsite-wrapper {
  max-width: 600px;
  margin: auto;
  z-index: +2;
}

.weatherwebsite {
  margin-top: 200px;
  padding: 20px;

  border-radius: 5px;
  background-color: rgba(40, 50, 65, 0.675);
}

.overview {
  margin-bottom: 20px;
  margin-left: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgba(254, 249, 249, 0.772);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  top: -34px;
}
.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: white;
}
.weather-forcast-date {
  font-size: 16px;
  color: white;
  opacity: 0.5;
}

.weather-forcast-temperature-min {
  opacity: 0.5;
}

.weather-forcast-temperature {
  font-size: 13px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  border: 0cap;
  background-color: rgba(27, 36, 76, 0.495);
  transition: 1s;
  height: 40px;

  margin-top: -1px;
}
.sec1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
  margin-top: 50px;
}
.sec2 {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .btn {
    margin-left: -20px;
  }
}
@media (max-width: 470px) {
  .input {
    width: 300px;
  }
}
@media (max-width: 430px) {
  .input {
    width: 250px;
  }
  .btn {
    margin-left: -50px;
  }
}
@media (max-width: 406px) {
  .btn {
    display: none;
  }
  .input {
    width: 120%;
  }
  .sec1 {
    flex-direction: column;
    justify-content: center;
  }
  .sec2 {
    margin-left: -20px;
  }
  .weather-forcast {
    margin-left: -10px;
  }
}
